
body {
    margin: 0;
    user-select: none;
}

.navbar {
    overflow: hidden;
    background-color: #40565f;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #8fcce5;
    color: #151c21;
}

.navbar a.active {
    background-color: #35729e;
}